/// 全局命名空间前缀
$css-prefix: "next-" !default;
.banma-form {
  .margin-left {
    margin-left: var(--s-2);
  }
  .#{$css-prefix}number-picker-normal.#{$css-prefix}medium,
  .#{$css-prefix}time-picker2,
  .#{$css-prefix}time-picker2-input,
  .#{$css-prefix}date-picker2 {
    width: 100%;
  }
  .#{$css-prefix}input.#{$css-prefix}medium .#{$css-prefix}before {
    padding-left: var(--input-m-label-padding-left);
  }
  .#{$css-prefix}input.#{$css-prefix}medium .#{$css-prefix}after {
    padding-right: var(--input-m-icon-padding-right);
  }
  .banma-form-item-horizontal {
    .#{$css-prefix}form-item {
      margin-bottom: 0;
    }
  }
  .#{$css-prefix}form-preview {
    word-break: break-all;
  }
  .banma-form-item-vertical {
    border: var(--line-1) var(--line-solid) var(--color-line1-2);
    padding: var(--s-4) var(--s-4) 0;
    border-radius: var(--corner-1);
    & + .banma-form-item-vertical {
      margin-top: var(--s-4);
    }
  }
  .banma-dynamic-button {
    margin-top: var(--s-2);
    width: 100%;
  }
  .banma-form-item-dynamic-header {
    margin-bottom: var(--s-4);
  }
  .banma-form-item-dynamic-title {
    font-size: var(--s-4);
    font-weight: var(--font-weight-3);
  }
  .banma-hint {
    @extend .margin-left;
    color: var(--color-text1-2);
    cursor: pointer;
    z-index: 1;
  }
  .banma-gutter {
    .banma-form-col {
      &:first-child {
        padding-left: 0 !important;
      }
      &:last-child {
        padding-right: 0 !important;
      }
    }
  }
}
